<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" ng-app="mbcfWebApp">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Molecular Biology Core Facilities @ Dana-Farber Cancer Institute | MBCF @ DFCI">
    <meta name="author" content="Mahesh Vangala">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>MBCF @ DFCI</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="app/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="app/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="app/css/app.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://mbcf.dfci.harvard.edu">Molecular Biology Core Facilities @ DFCI </a>
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">HOME</a>
                    </li>
                    <li><a href="#services">SERVICES</a>
                    </li>
                     <li><a href="#contact">CONTACT</a>
                    </li>
                    <li><a href=""><span class="glyphicon glyphicon-envelope color-blue"></span>  zherbert@mail.dfci.harvard.edu</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!--End Navigation -->

    <!-- Home Section-->
    <section class="for-full-back color-light " id="home">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h1>MBCF @ DFCI</h1>
                </div>
            </div>
            <!-- Adding Carousel -->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                </ol>
 
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive center-block" src="app/img/nextseq.jpeg"/>
                    </div>
                    <div class="item">
                        <img class="img-responsive center-block" src="app/img/miseq.jpeg"/>
                    </div>
                    <div class="item">
                        <img class="img-responsive center-block" src="app/img/bioinformatics.jpeg"/>
                    </div>
                    <div class="item">
                        <img class="img-responsive center-block" src="app/img/neoprep.jpeg"/>
                    </div>
                    <div class="item">
                        <img class="img-responsive center-block" src="app/img/proteomics.jpeg"/>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" 
                        onclick="$('#carousel-example-generic').carousel('prev')">
                    <span class="glyphicon glyphicon-chevron-left color-blue"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"
                        onclick="$('#carousel-example-generic').carousel('next')">
                    <span class="glyphicon glyphicon-chevron-right color-blue"></span>
                </a>
            </div> <!-- Carousel -->
            <!-- END of CAROUSEL -->
            <br/><br/>
            </div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h2 class="color-blue">About Core</h2>
                        <p>
                            MBCF currently owns 3 Nextseq and 3 Miseq machines along with Sanger, Neoprep and other robotic equipment to expedite the process of data generation. We have end to end support of library preparation, sequencing, bioinformatics analysis. We also undertake project of custom nature that requires development of algorithms, analysis pipelines and visualization of results as publication ready plots.
                        </p>
                    </div>
                </div>
                <br /><br />
                <div class="row text-center space-pad">
                    <div class="col-md-2 ">

                        <figure class="figure thumbnail">

                            <img src="app/img/lib_prep.png" class="figure-img img-responsive img-rounded" />
                            <figcaption class="figure-caption text-center color-blue"><h4>Library Prep</h4></figcaption>
                        </figure>

                    </div>
                    <div class="col-md-2">

                        <figure class="figure thumbnail">

                            <img src="app/img/seq.png" class="figure-img img-fixed img-rounded" />
                            <figcaption class="figure-caption text-center color-blue"><h4>Sequencing</h4></figcaption>
                        </figure>
                    </div>
                    <div class="col-md-2 ">

                        <figure class="figure thumbnail">

                            <img src="app/img/genomics.png" class="figure-img img-fixed img-rounded" />
                            <figcaption class="figure-caption text-center color-blue"><h4>Genomics</h4></figcaption>

                        </figure>

                    </div>
                    <div class="col-md-2 ">

                        <figure class="figure thumbnail">

                            <img src="app/img/proteomics.png" class="figure-img img-fixed img-rounded" />
                            <figcaption class="figure-caption text-center color-blue"><h4>Proteomics</h4></figcaption>

                        </figure>

                    </div>
                    <div class="col-md-2 ">

                        <figure class="figure thumbnail">

                            <img src="app/img/informatix.png" class="figure-img img-fixed img-rounded" />
                            <figcaption class="figure-caption text-center color-blue"><h4>Informatics</h4></figcaption>

                        </figure>
                    </div>
                    <div class="col-md-2 ">

                        <figure class="figure thumbnail">

                            <img src="app/img/mic_array.png" class="figure-img img-fixed img-rounded" />
                            <figcaption class="figure-caption text-center color-blue"><h4>MicroArray</h4></figcaption>

                        </figure>
                    </div>
                </div>
            
            </div>
        </div>
    </section>  
   
    <!--End Home Section-->

    <!-- Services Section-->
    <section class="for-full-back color-white" id="services">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h1>OUR SERVICES</h1>
                </div>

            </div>
            
            <div class="row  space-pad">
                <div class="col-md-3 ">

                    <div class="about-div" style="text-align:left;">
                          <ul>
                          <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href=""><h4>GENOMICS 
                            <b class="caret"></b></h4></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Next-Generation Sequencing (NGS)</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">NGS Library Prep</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Affymetrix Microarray</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Nanostring nCounter</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Sanger DNA Sequencing</a></li>
                            </ul>
                          </li>
                          <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"><h4>PROTEOMICS
                            <b class="caret"></b></h4></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">MALDI-TOF MS</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">LC-MS/MS</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Amino Acid Analysis</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Peptide Synthesis</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Biacore 3000</a></li>
                            </ul>
                          </li>
                          <li><a href="#"><h4>ADVANCED TECHNOLOGIES</h4></a></li>
                          <li><a href="/instrumentation"><h4>INSTRUMENTATION</h4></a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-6 " ui-view>
                </div>
                
                <div class="col-md-3 ">

                    <div class="about-div" style="text-align:left;">
                        <ul>
                          <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href=""><h4>DFCI iLAB
                            <b class="caret"></b></h4></a>
                            <ul class="dropdown-menu">
                              <li><a href="https://dfci.ilabsolutions.com/account/login" target="_blank">iLAB Login</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="https://dfci.ilabsolutions.com/account/signup/1?sc_id=7607" target="_blank">Create an iLAB Account</a></li>
                              <li role="separator" class="divider"></li>
                            </ul>
                          </li>
                          <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown"><h4>MBCF DNALIMS
                            <b class="caret"></b></h4></a>
                            <ul class="dropdown-menu">
                              <li><a href="http://mbcf220.dfci.harvard.edu/cgi-bin/dna/password.cgi" target="_blank">dnaLIMS Login</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="http://mbcf220.dfci.harvard.edu/cgi-bin/dna/loginNn.cgi" target="_blank">Create dnaLIMS Account</a></li>
                              <li role="separator" class="divider"></li>
                            </ul>
                          </li>
                          <li><a href="#"><h4>MBCF DATA SERVER</h4></a></li>
                          <li><a href="#"><h4>MICROARRAY DATA</h4></a></li>
                          <li><a href="#" class="color-blue"><h4>SERVICE REQUEST GUIDE</h4></a></li>
                          <li><a href="#"><h4>ACKNOWDEDGING THE CORE</h4></a></li>
                        </ul>
                    </div>

                </div>
            </div>
            
        </div>


    </section>

     <!--End Services Section-->

    <!-- Contact Section -->
    <section class="for-full-back color-white " id="contact">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h1>CONTACT</h1>
                    <h4>
                        <strong>
                            We'd love to hear from you to discuss how we may help you with your project goals!
                        </strong>
                    </h4>
                </div>

            </div>

            <div class="row">
                <div class="col-md-5 contact-cls">
                    <h3>OUR LOCATION </h3>
                    <div>
                        <span><span class="glyphicon glyphicon-home color-blue"></span>&nbsp; 21-27 Burlington Ave Boston</span>
                        <br />
                        <span><span class="glyphicon glyphicon-phone-alt color-blue"></span>&nbsp; 617-632-6266</span>
                        <br />
                        <span><span class="glyphicon glyphicon-envelope color-blue"></span>&nbsp; zherbert@mail.dfci.harvard.edu</span>
                        <br />
                        <span><span class="glyphicon glyphicon-phone color-blue"></span>&nbsp; 617-632-6266</span>
                        <br />
                        <span><span class="glyphicon glyphicon-globe color-blue"></span>&nbsp; http://mbcf.dfci.harvard.edu</span>
                        <br /> <br />
                        <button type="submit" class="btn btn-primary">Request Quotation</button>
                    </div>
                  
                </div>
                <div class="col-md-7">
                    <h2>Have a question for us!?</h2>
                    <p>
                      Please send us an email with information about your project or your needs.  
                       
                    </p>
                    <form ng-controller="EmailController">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Your Name" ng-model="user_name">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" required="required" placeholder="You Email Address" ng-model="user_email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" rows="6" placeholder="Message" ng-model="message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" ng-click="sendEmail()">Submit Request</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <!--End Contact Section -->
    <!--footer Section -->
    <div class="for-full-back " id="footer">
        2016 | mbcf.dfci.harvard.edu | All Right Reserved
         
    </div>
    <!--End footer Section -->
</body>
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="app/js/custom.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/controllers.js"></script>
</html>
