
.carousel {
    height: auto; 
    width: 80%; 
    position: relative; 
    margin: 0px auto;
}

.carousel-inner > .item > img {
    width:640px;
    height:360px;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.carousel-indicators li {
  background-color: #669966;
}

.carousel-indicators .active {
  background-color: #FF7600;
}

figure {
  display:inline-block;
  position: relative;
  clear: both;
  height: 150px;
  width: 150px;
  margin:0px auto;
  background-size: cover;
}