							<h1 class='page-title entry-title'>How to Place a Request</h1>	
							<div class="entry-content">
								
								<div class="su-column su-column-size-1-3"><div class="su-column-inner su-clearfix"><strong>1) Register an Account</strong><br />
<a title="iLab registration" href="/web/20150928042124/https://dfci.ilabsolutions.com/account/signup/1?sc_id=7607" target="_blank">Register an iLab account</a> for ALL SERVICES <em>except</em>….<br />
<a title="Sanger DNA Sequencing" href="/web/20150928042124/http://mbcf.dfci.harvard.edu/genomics-core/sanger-dna-sequencing/" target="_blank">Sanger Sequencing</a> and Oligosynthesis, please register an account through <a title="dnaLIMS" href="/web/20150928042124/http://mbcf220.dfci.harvard.edu/" target="_blank">dnaLIMS</a></p>
<p>Please note that the MBCF does not administrate the iLab system. If you have questions or problems registering an account please contact iLab directly: support@ilabsolutions.com</div></div><div class="su-column su-column-size-1-3"><div class="su-column-inner su-clearfix"><strong>2) Place an electronic request</strong><br />
<a title="iLab login" href="/web/20150928042124/https://dfci.ilabsolutions.com/account/login" target="_blank">Login to iLab</a><br />
For iLab requests, please fill out the sample information form to the best of your ability. There is no such thing as too much information (well, maybe there is).</p>
<p>Once you have filled out the request, click “submit”. The MBCF staff will review the request and contact you if there are any questions, suggestions, or concerns. The form is a dynamic document that can be easily edited, so don&#8217;t be afraid to write in a question and submit.</div></div><div class="su-column su-column-size-1-3"><div class="su-column-inner su-clearfix"><strong>3) Provide Payment Information</strong><br />
<strong>Internal investigators</strong><br />
<span style="text-decoration: underline;">DFCI investigators</span> please provide a project number<br />
<span style="text-decoration: underline;">BWH investigators</span> receive internal rates, but still must provide a PO. Please see instructions below for External investigators.<br />
<strong>External investigators:</strong><br />
A valid purchase order (PO) must be provided before we can begin work. To facilitate this process, we can generate an official quotation once you have submitted an iLab request.</p>
<p><span style="color: #ff0000;">IMPORTANT:</span> POs should be made out as follows<br />
<strong>Dana-Farber Cancer Institute<br />
General Accounting BP425<br />
450 Brookline Avenue<br />
Boston, MA 02215-5450</strong></p>
<p><em>Note to Partners, Harvard &amp; Tufts researchers:</em><br />
<strong>Partners Health Care</strong> (includes MGH, BWH, McLean, Spaulding, etc): choose vendor 0000008573<br />
<strong>Harvard</strong> (includes HMS, Dental, Wyss, HSPH, etc): choose vendor site: 01_PRIMARY<br />
<strong>Tufts University</strong> choose Supplier 0000000655</div></div>
<p><strong>Description:</strong> For Services in Molecular Biology Core Facilities</p>
<p><strong>Basic Process Overview</strong><br />
1) Submit iLab request.<br />
2) Receive quotation from MBCF (not automated).<br />
3) Use quotation to generate PO (through your purchasing department).<br />
4) Update iLab request with valid PO (or email it to us).<br />
5) MBCF will begin processing request ASAP.</p>
<p>Credit Cards:<br />
If paying by credit card, please indicate so on the iLab request. You will be contacted for payment after the work has been completed.</p>
<p><strong>4) Drop off samples</strong><br />
There are several ways to get samples to us:</p>
<p><strong>The “Fish Room”</strong><br />
Located near the 3rd floor elevator lobby of the Smith building.<br />
DNA: place samples in racks in top half of left hand fridge<br />
RNA: -80C freezer: take an empty blue cooler from the bottom half of the freezer, place samples in blue cooler, place blue cooler in top half of freezer to await pick up.</p>
<p><strong>CLS building 11th floor</strong><br />
<em>DNA only</em></p>
<p><strong>MBCF</strong> <a title="MBCF locations" href="/web/20150928042124/http://mbcf.dfci.harvard.edu/location/" target="_blank">come visit!</a><br />
4th floor 21-27 Burlington Ave<br />
Contact us to schedule handoff</p>
<p><strong>FEDEX</strong> (directly to our lab)<br />
Attn: Molecular Biology Core Facilities<br />
Dana-Farber Cancer Institute<br />
21-27 Burlington Avenue 4th Floor<br />
Boston, MA 02215<br />
USA</p>
<p><strong>USPS and UPS</strong> (through DFCI shipping and receiving; may add a day)<br />
Dana-Farber Cancer Institute<br />
450 Brookline Avenue, BA404<br />
Boston, MA 02215<br />
USA</p>
