<div>
  <hr>
  <h3>INSTRUMENTATION</h3>
  <p>Virtually of all of this instrumentation is either on wheels or is mounted on rolling tables. In any given week the instrumentation can be moving in or out of the different locations to more easily support the research performed. The only way to know exactly what is plugged in and operating is to stop on by. We encourage you to do so anytime.</p>
  <br/>
  <hr>
  <h4>GENOMICS CORE</h4>
  <hr>
  <ul>  
    <li>(1) <a href="http://www.illumina.com/systems/neoprep-library-system.html" target="_blank">Illumina Neoprep Library Prep</a></li>
    <li>(3) <a href="http://www.illumina.com/systems/miseq.ilmn" target="_blank">Illumina MiSeq</a></li>
    <li>(2) <a href="http://www.illumina.com/systems/nextseq-sequencer.ilmn" target="_blank">Illumina NextSeq 500</a></li>
    <li>(2) <a href="http://www.sagescience.com/products/pippin-prep/" target="_blank">Sage Pippin Prep</a></li>
    <li>(3) <a href="https://products.appliedbiosystems.com/ab/en/US/adirect/ab?cmd=catNavigate2&catID=601642" target="_blank">ABI 3730xl</a></li>
    <li>(2) <a href="https://products.appliedbiosystems.com/ab/en/US/adirect/ab?cmd=catNavigate2&catID=601255&tab=Overview" target="_blank">ABI 7900HT RT-PCR</a></li>
    <li>(4) <a href="">ABI 9700 Thermocycler</a></li>
    <li>(4) <a href="https://products.appliedbiosystems.com/ab/en/US/adirect/ab?cmd=catNavigate2&catID=603665" target="_blank">ABI 9800 Thermocycler</a></li>
    <li>(3) <a href="http://www.affymetrix.com/estore/browse/products.jsp?productId=131503#1_1" target="_blank">Affymetrix Scanner 3000 7G</a></li>
    <li>(2) <a href="http://www.genomics.agilent.com/en/product.jsp?cid=AG-PT-181&tabId=AG-PR-1004&_requestid=1101281" target="_blank">Agilent TapeStation 2200</a></li>
    <li>(1) <a href="http://www.genomics.agilent.com/en/Bioanalyzer-System/2100-Bioanalyzer-Instruments/?cid=AG-PT-106&tabId=AG-PR-1001" target="_blank">Agilent Bioanalyzer 2100</a></li>
    <li>(1) <a href="http://www.wafergen.com/apollo-324/" target="_blank">Apollo 324</a></li>
    <li>(2) <a href="http://www.lifetechnologies.com/us/en/home/brands/product-brand/qubit.html" target="_blank">Life Tech Qubit Fluorometer</a></li>
    <li>(2) <a href="http://www.nanostring.com/products/nCounter" target="_blank">Nanostring nCounter</a></li>
    <li>(1) <a href="http://support.illumina.com/real_time_pcr/eco_qpcr.ilmn" target="_blank">Illumina Eco RT-PCR</a></li>
  </ul>
  <br/>
  <h4>PROTEOMICS CORE</h4>
  <hr>
  <ul>
    <li><a href="http://www.absciex.com/products/mass-spectrometers/toftof-systems/4800-plus-maldi-toftof-analyzer?country=United%20States" target="_blank">AB SCIEX 4800 MALDI-TOF/TOF</a></li>
    <li><a href="http://www.thermoscientific.com/en/products/orbitrap-lc-ms.html" target="_blank">Thermo LTQ-Orbitrap LC-MS</a></li>
    <li><a href="">Voyager DE-STR MALDI-TOF</a></li>
    <li><a href="http://www.waters.com/waters/en_US/ACQUITY-UPLC-M-Class-System/nav.htm?cid=134776759" target="_blank">Waters nano-Acquity LC</a></li>
    <li><a href="">(1) Agilent 1200 HPLC/Fluorescent Detection, for Amino Acid Analysis(AAA)</a></li>
  </ul>
  <br/>
  <h4>ADVANCED TECHNOLOGIES</h4>
  <hr>
  <ul>
    <li><a href="http://www.absciex.com/products/mass-spectrometers/toftof-systems/4800-plus-maldi-toftof-analyzer?country=United%20States" target="_blank">(2) AB SCIEX 4800 MALDI-TOF/TOF</a></li>
    <li><a href="http://www.genomics.agilent.com/en/product.jsp?cid=AG-PT-181&tabId=AG-PR-1004&_requestid=1101281" target="_blank">(1) Agilent TapeStation 2200</a></li>
    <li><a href="http://www.lifetechnologies.com/us/en/home/brands/product-brand/qubit.html" target="_blank">(1) Life Tech Qubit Fluorometer</a></li>
    <li><a href="http://www.nanostring.com/products/nCounter" target="_blank">(2) Nanostring nCounter</a></li>
    <li><a href="https://www.biacore.com/lifesciences/index.html" target="_blank">(1) BiaCore 3000 SPR Interaction Analyzer</a></li>
  </ul>
</div>
