<div>
  <hr>
  <h3>NGS Library Prep</h3>
This is a temporary website while our main site is down for unscheduled maintenance. We apologize for any inconvenience. With questions regarding any of the available genomics services, please send an email to Zach<p>

<ul>
<pre>
<li>Strand Specific mRNA</li>
<li>Strand Specific totalRNA </li>
<li>Low Input RNA (clontech SmartSeq v4)</li>
<li>DNA adapter ligation</li>
<li>ChIPseq library prep (Rubicon Genomics Thruplex)</li>
<li>Nextera</li>
<li>Low input smallRNA <em>in development</em>
</pre>
</ul>
</p>


</div>
