<!-- 
   <table border="1" cellspacing="5" cellpadding="2" align="MBCF">
        <tr>
            <td><a href="http://mbcf220.dfci.harvard.edu/"><img alt="DFCI" src="http://mbcf149.dfci.harvard.edu/images/logotop640.jpg" border="0"></a></td>
        </tr>
    </table>
<tr>
<br>
</tr>

<i>page last updated 02/03/13</i><P>
<a name="MiSeq" id="MiSeq"></a><strong><font color="#0000FF"><font size="+2"> MBCF Genomics Core</font></font></strong><br>
<br>
</b>
-->
<hr/>
<h3>Genomics Service</h3>
<hr/>








<p>
<p>
This is a temporary website while our main site is down for unscheduled maintenance. We apologize for any inconvenience. With questions regarding any of the available genomics services, please send an email to Zach<p>

<ul>
<pre>
<li>Illumina NextSeq500 and MiSeq Sequencing</li>
<li>Affymetrix Micorarray </li>
<li>Nanoastring nCounter</li>
<li>Sanger Sequencing</li>
</pre>
</ul>
</p>
